{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block body %}
        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="images/main-image.png" alt="Main Image" class="main-image">
            <div class="title">Contact Us</div>

        </div>

        <!--------MAIN CONTENT ----------------------------->
 
        <div class="contact-block">
            <p> If you wish to submit paper or become member of organization, please see our instagram. All information regarding submissions, recruitment and other events will be published there. </p>
            <p>Instagram: <a href="https://www.instagram.com/kimep.research.club/?hl=en">@kimep.reseach.club</a></p>
            <p>Email: <b>kimep.research.club@kimep.kz</b></p>
            <p>President, Zhaniya Rakhimova's email: <b>zhaniya.rakhimova@kimep.kz</b></p>
            <p>Vice President, Gulnur Adanbekova's email: <b>adanbekovag@gmail.com</b></p>
        </div>

{% endblock %}