{% extends 'base-a.html' %}

{% block body %} 

<h2>Admin Dashboard</h2>

<button>
    <a href="{{url_for('jUpload')}}">
        Upload Journal
    </a>
</button>

<br><br>
<button>
    <a href="{{url_for('admins')}}">
        Admins list
    </a>
</button>

<br><br>
<button>
    <a href="{{url_for('aUpload')}}">
        New Admin
    </a>
</button>

<br><br>
<button>
    <a href="{{url_for('journals')}}">
        List of journals
    </a>
</button>

<br><br>

<button>
    <a href="{{url_for('logout')}}">
        Log Out
    </a>
</button>


{% endblock %} 
