{% extends 'base.html' %}

{% block title %} <title>Editing Department</title> {% endblock %}

{% block body %}
    <body>
        <div class="main-container">
            <!--------HEADER ----------------------------->
            <div class="header">
                <div class="left-header">
                    <div class="nova-pro"><a href="index.html">NovaPro</a></div>
                </div>
                <div class="right-header">
                    <button class="about-us"><a href="index.html">About Us</a></button>
                    <button class="people-behind"><a href="pplbehind.html">People Behind</a></button>
                    <button class="journal"><a href="journal.html">Journal</a></button>
                    <button class="contact-us"><a href="contact.html">Contact Us</a></button>
                </div>
            </div>
    
            <!--------IMAGE ----------------------------->
            <div class="main-image-container">
                <p class="on-top">KIMEP RESEARCH CLUB</p>
                <img src="../images/main-image.png" alt="Main Image" class="main-image">
                <div class="title">Writing Department</div>
            </div>

            <!--------MAIN CONTENT ----------------------------->
            <div class="intro" style="margin-bottom: 100px; margin-top: 70px;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores dolore officia hic ea aut, doloribus nesciunt ut eos magnam, obcaecati maxime debitis id distinctio, quod dolor. Optio veniam nihil saepe.
            </div>

            <div class="left-side-block">
                <div class="left-image">
                    <img src="../images/people-place-holder.JPG">
                </div>
                <div class="left-text">
                    <h1>Head of Ediitng</h1>
                    <h3>Amir Karazhigitov</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae ipsa ut distinctio voluptatibus eligendi cupiditate blanditiis consequuntur. Quos dolorem beatae ea reprehenderit error, nam temporibus facilis nesciunt distinctio labore?
                    </p>
                            
                </div>
            </div> 

            <div class="member-title">Members</div>
            <div class="members">
                <div class="member">
                    <div class="member-pic"> <img src="../images/people-place-holder.JPG"></div>
                    <div class="member-name">Zhaniya Rakhinova</div>
                    <div class="member-desc">"I do things"</div>
                </div>
            </div>


            <div class="footer">
                <p>@KIMEP Research Club</p>
            </div>
        </div>
    
</body>
{% endblock %}