{% extends 'base.html' %}

{% block title %} Finance Department {% endblock %}

{% block body %}    
            <!--------IMAGE ----------------------------->
            <div class="main-image-container">
                <p class="on-top">KIMEP RESEARCH CLUB</p>
                <img src="{{url_for('static', filename='images/index-finance.jpg')}}" alt="Main Image" class="main-image">
                <div class="title">Finance Department</div>
            </div>

            <!--------MAIN CONTENT ----------------------------->
            <div class="intro" style="margin-bottom: 100px; margin-top: 70px;">

            </div>

            <div class="left-side-block">
                <div class="left-image">
                    <img src="{{url_for('static', filename='images/fin-head.jpg')}}">
                </div>
                <div class="left-text">
                    <h1>Head of Finance</h1>
                    <h3>Meirlana Bolat</h3>
                    <p>
                        As the Head of the Finance Department at the esteemed KIMEP Research Club, I am committed to fostering financial stability and growth within our organization. With a keen
                        focus on developing my competencies in research skills for my future, I also aim to enhance our understanding of financial trends and optimizing resource allocation to drive
                         long-term success of the organization. I strive to develop the budget of the organization by forecasting income and expenses and identifying areas for savings or investments. 
                         My role is to lead the finance department team; providing guidance and support to help team members grow in their roles and contribute effectively to the success 
                       of the organization, through collaboration between different departments (such as research teams, administration and project managers) to align financial goals with the priorities 
                       of the organization. Through my commitment to financial excellence and the development of interdisciplinary collaboration, I am confident in my ability to propel the KIMEP Research Club to continuous growth and success in a dynamic world of academic research and innovation.
                                       </p>
                            
                </div>
            </div> 

            <div class="member-title">Members</div>
            <div class="members">
                <div class="member">
                    <div class="member-pic"> <img src="{{url_for('static', filename='images/fin-member1.jpg')}}"></div>
                    <div class="member-name">Saadi Mukhiddinov
                    </div>
                    <div class="member-desc">"Верь в свою веру в себя
                        "</div>
                </div>
            </div>

{% endblock %}