{% extends 'base.html' %}

{% block title %} Finance Department {% endblock %}

{% block body %}    
            <!--------IMAGE ----------------------------->
            <div class="main-image-container">
                <p class="on-top">KIMEP RESEARCH CLUB</p>
                <img src="../images/main-image.png" alt="Main Image" class="main-image">
                <div class="title">Organization Department</div>
            </div>

            <!--------MAIN CONTENT ----------------------------->
            <div class="intro" style="margin-bottom: 100px; margin-top: 70px;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores dolore officia hic ea aut, doloribus nesciunt ut eos magnam, obcaecati maxime debitis id distinctio, quod dolor. Optio veniam nihil saepe.
            </div>

            <div class="left-side-block">
                <div class="left-image">
                    <img src="../images/people-place-holder.JPG">
                </div>
                <div class="left-text">
                    <h1>Head of Finance</h1>
                    <h3>Meirlana Bolat</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae ipsa ut distinctio voluptatibus eligendi cupiditate blanditiis consequuntur. Quos dolorem beatae ea reprehenderit error, nam temporibus facilis nesciunt distinctio labore?
                    </p>
                            
                </div>
            </div> 

            <div class="member-title">Members</div>
            <div class="members">
                <div class="member">
                    <div class="member-pic"> <img src="../images/people-place-holder.JPG"></div>
                    <div class="member-name">Zhaniya Rakhinova</div>
                    <div class="member-desc">"I do things"</div>
                </div>
            </div>

{% endblock %}