<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/slider.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
    <title>Kimep Research Club</title>
</head>
<body>
    <div class="main-container">
        <!--------HEADER ----------------------------->
        <div class="header">
            <div class="left-header">
                <div class="nova-pro"><a href="index.html">NovaPro</a></div>
            </div>
            <div class="right-header">
                <button class="about-us"><a href="index.html">About Us</a></button>
                <button class="people-behind"><a href="pplbehind.html">People Behind</a></button>
                <button class="journal"><a href="#">Journal</a></button>
                <button class="contact-us"><a href="#">Contact Us</a></button>
            </div>
        </div>

        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="images/main-image.png" alt="Main Image" class="main-image">
            <div class="title">About Us</div>

        </div>

        <!--------MAIN ----------------------------->
        <div class="main-content">
            <div class="text-block">
                <div class="left-content">
                    <img src="images/sub-image.jpg" class="content-image">
                </div>
                <div class="right-content">
                    <h3>Who are we?</h3> 
                    <p>
                    We are a student organization - “KIMEP Research Club” (KRC). 
                    The main goal of KRC is to engage KIMEP students in the scientific research community and help them develop their paper-writing skills. 
                    The organization also aims to promote students' works by publishing them in our scientific journal every semester. 
                    At KRC, we strive to: <br><br>
                    <b>Develop Research Skills:</b> Provide resources and guidance to help students enhance their research and paper-writing abilities.<br>
                    <b>Academic Excellence:</b> Encourage the production of high-quality research papers through workshops, seminars, and mentorship programs.<br>
                    <b>Publish Student Works:</b> Showcase the scholarly achievements of our members by publishing their research in our esteemed scientific journal every semester.<br><br>
                    Join us at KRC to embark on a journey of academic exploration and contribute to the vibrant research culture at KIMEP University.    
                </p>
                </div>
            </div>

            <div class="text-block">
                <div class="left-content">
                    <h3>What is NovaPro?</h3> 
                    <p>
                        What is NovaPro?
                        "Nova Prospectus" is a scientific digital journal created by 
                        KIMEP University students, for students, that showcases cutting-edge 
                        research and thought-provoking science articles from the next 
                        generation of future scientists and scholars. <br><br>
                        The journal's mission is to provide undergraduate and graduate 
                        students a platform to disseminate their findings, share insights, 
                        and foster interdisciplinary collaboration.                        
                    </p>
                    <div class="read-more">
                        <a href="#"><button>Read more</button></a>
                    </div>
                </div>
                <div class="right-content">
                    <img src="images/sub-image.jpg" class="content-image">    
                </div>
            </div>
        </div>


        <!--------people behind slider ----------------------------->
        <div class="people-behind-main">
            <div class="title">People Behind</div>
            <div class="slider">
                <div class="slides">
                <div class="slide">
                    <div class="image-slider"><img src="images/people-place-holder.JPG" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Zhaniya Rakhimova</h1>
                        <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.<br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science. <br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.</p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="images/people-place-holder.JPG" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Gulnur Adanbekova</h1>
                        <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.<br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science. <br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.</p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="images/people-place-holder.JPG" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Alan Sailybayev</h1>
                        <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.<br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science. <br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.</p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="images/people-place-holder.JPG" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Amir Kairyzhigitov</h1>
                        <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.<br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science. <br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.</p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="images/people-place-holder.JPG" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Daria Ursan</h1>
                        <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.<br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science. <br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.</p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="images/people-place-holder.JPG" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Arailym Shokenova</h1>
                        <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.<br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science. <br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.</p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="images/people-place-holder.JPG" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Meirlana Bolat</h1>
                        <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.<br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science. <br><br>
                            President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, 
                            studying International Relations and Political Science.</p>
                    </div> 
                </div>
                </div>

                <div class="navigation">
                    <button class="nav-btn" id="prev">&#10094;</button>
                    <button class="nav-btn" id="next">&#10095;</button>
                </div>
            </div>
            <div class="read-more">
                <a href="pplbehind.html"><button>Read more</button></a>
            </div>
            </div>

        <!--------FOOTER ----------------------------->
        <div class="footer">
            <p>@KIMEP Research Club</p>
        </div>


        <script src="scripts/slide.js"></script>
    </div>
</body>
</html>