{% extends 'base.html' %}

{% block title %} Kimep Research Club {% endblock %}

{% block body %}
        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="{{url_for('static', filename='images/index-image.jpg')}}" alt="Main Image" class="main-image">
            <div class="title">About Us</div>

        </div>

        <!--------MAIN ----------------------------->
        <div class="main-content">
            <div class="text-block">
                <div class="left-content">
                    <img src="{{url_for('static', filename='images/who-image.jpg')}}" class="content-image">
                </div>
                <div class="right-content">
                    <h2>Who are we?</h2> 
                    <p>
                    We are a student organization - “KIMEP Research Club” (KRC). 
                    The main goal of KRC is to engage KIMEP students in the scientific research community and help them develop their paper-writing skills. 
                    The organization also aims to promote students' works by publishing them in our scientific journal every semester. 
                    At KRC, we strive to: <br><br>
                    <b>Develop Research Skills:</b> Provide resources and guidance to help students enhance their research and paper-writing abilities.<br>
                    <b>Academic Excellence:</b> Encourage the production of high-quality research papers through workshops, seminars, and mentorship programs.<br>
                    <b>Publish Student Works:</b> Showcase the scholarly achievements of our members by publishing their research in our esteemed scientific journal every semester.<br><br>
                    Join us at KRC to embark on a journey of academic exploration and contribute to the vibrant research culture at KIMEP University.    
                </p>
                </div>
            </div>

            <div class="text-block">
                <div class="left-content">
                    <h2>What is NovaPro?</h2> 
                    <p>
                        "Nova Prospectus" is a scientific digital journal created by 
                        KIMEP University students, for students, that showcases cutting-edge 
                        research and thought-provoking science articles from the next 
                        generation of future scientists and scholars. <br><br>
                        The journal's mission is to provide undergraduate and graduate 
                        students a platform to disseminate their findings, share insights, 
                        and foster interdisciplinary collaboration.                        
                    </p>
                    <div class="read-more">
                        <a href="{{ url_for('journal') }}"><button>Read more</button></a>
                    </div>
                </div>
                <div class="right-content">
                    <img src="{{url_for('static', filename='images/index-journal.jpg')}}" class="content-image">    
                </div>
            </div>
        </div>


        <!--------people behind slider ----------------------------->
        <div class="people-behind-main">

            <div class="title">People Behind</div>
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <div class="image-slider"><img src="{{url_for('static', filename='images/president.jpg')}}"></div> 
                        <div class="text-slider">
                        <h1>Zhaniya Rakhimova</h1> 
                        <p>
                            I am Zhaniya Rakhimova, a third-year student at KIMEP University, pursuing a degree in international affairs and global security. 
                    I am currently serving as the president of the KIMEP Research Club, an organization I co-founded. <br>
                    Russia and Central Asia represent my own personal research interest, with a particular emphasis on the foreign policy of the Central Asian governments. 
                    My membership in the KIMEP Research Club and the majority of my academic work have been motivated by this regional focus. I believe that anyone studying 
                    international affairs in the present era must possess a comprehensive understanding of the dynamics of this strategically significant region.
                </p>
                        </div> 
                    </div>
                <div class="slide">
                    <div class="image-slider"><img src="{{url_for('static', filename='images/vicepresident.jpg')}}"></div> 
                    <div class="text-slider">
                        <h1>Gulnur Adanbekova</h1>
                        <p> Hello! My name is Gulnur Adanbekova, and I am a fourth-year student at KIMEP University, studying Information Systems in Business. I am currently Vice President of the KIMEP Research Club. Alongside
                            our amazing members I hope we learn and improve our writing and research skills. 
                            <br>
                            My major is Big Data Analytics, and my primary research interests include statistics and artificial intelligence. My recent studies have focused on the application of statistical methods and AI techniques in various business contexts, and I am passionate about exploring the potential of these fields to transform industries.
                        </p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="{{url_for('static', filename='images/writers.jpg')}}"></div> 
                    <div class="text-slider">
                        <h1>Alan Sailybayev</h1>
                        <p> Писательский отдел занимается писательством. Когда в нашем журнале появляется интересная работа, скорее всего, это работа писательского отдела, который состоит из четырех человек, талантливых и воодушевленных, только не пишущих по-русски (не знаю уж почему). Перед каждым выпуском журнала, мы все вместе собираемся и обсуждаем темы работ, идет этот процесс нудно и долго.
                            Мое место в этом деле принципиально ничем не отличается от рядовых участников, главенствующая позиция только заставляет меня заниматься формальными организационными работами. Но, тем не менее, без меня бы они не организовались, поэтому того, что вы здесь читаете, без меня бы не было. </p>
                    </div> 
                </div>
                
                <div class="slide">
                    <div class="image-slider"><img src="{{url_for('static', filename='images/smm-head.jpg')}}" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Arailym Shokenova</h1>
                        <p>May this new chapter be filled with fruitful collaborations, insightful discoveries, and meaningful promotion to our fields of study🤍
                        </p>
                    </div> 
                </div>
                <div class="slide">
                    <div class="image-slider"><img src="{{url_for('static', filename='images/fin-head.jpg')}}" alt="Image 1"></div> 
                    <div class="text-slider">
                        <h1>Meirlana Bolat</h1>
                        <p>I am Meirlana Bolat, Head of the Finance Department of the KIMEP 
                            Research Club and a second-year student of Kimep University with a degree in accounting and auditing.</p>
                    </div> 
                </div>
                </div>

                <div class="navigation">
                    <button class="nav-btn" id="prev">&#10094;</button>
                    <button class="nav-btn" id="next">&#10095;</button>
                </div>
            </div>
            <div class="read-more">
                <a href="{{ url_for('pplbehind') }}"><button>Read more</button></a>
            </div>
            </div>
{% endblock %}