{% extends 'base.html' %}

{% block title %} <title>Donwload Journal</title> {% endblock %}

{% block body %}
<body>
    <div class="main-container">
        <!--------HEADER ----------------------------->
        <div class="header">
            <div class="left-header">
                <div class="nova-pro"><a href="index.html">NovaPro</a></div>
            </div>
            <div class="right-header">
                <button class="about-us"><a href="index.html">About Us</a></button>
                <button class="people-behind"><a href="pplbehind.html">People Behind</a></button>
                <button class="journal"><a href="journal.html">Journal</a></button>
                <button class="contact-us"><a href="contact.html">Contact Us</a></button>
            </div>
        </div>

        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="images/main-image.png" alt="Main Image" class="main-image">
            <div class="title">Download Journal</div>

        </div>

        <!--------MAIN CONTENT ----------------------------->
        <div class="main-content">
            <div class="text-block">
                <div class="left-content">
                    <p style="font-weight: 600; font-size: larger;">
                        <a href="#"> Vol.1 June, 2024</a>
                </p>
                </div>
                <div class="right-content">
                <img src="images/journal-image.png" class="content-image" style="max-width: 500px;">
                </div>
            </div>
        </div>
        <div class="footer">
            <p>@KIMEP Research Club</p>
        </div>
        </div>
</body>
{% endblock %}