{% extends 'base.html' %}

{% block title %} Donwload Journal {% endblock %}

{% block body %}
        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="images/main-image.png" alt="Main Image" class="main-image">
            <div class="title">Download Journal</div>

        </div>

        <!--------MAIN CONTENT ----------------------------->
        <div class="main-content">
            <div class="text-block">
                <div class="left-content">
                    <p style="font-weight: 600; font-size: larger;">
                        <a href="#"> Vol.1 June, 2024</a>
                </p>
                </div>
                <div class="right-content">
                <img src="images/journal-image.png" class="content-image" style="max-width: 500px;">
                </div>
            </div>
        </div>
{% endblock %}