{% extends 'base.html' %}

{% block title %} Donwload Journal {% endblock %}

{% block body %}
        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="{{url_for('static', filename='images/editing-index.jpg')}}" alt="Main Image" class="main-image">
            <div class="title">Download Journal</div>

        </div>

        <!--------MAIN CONTENT ----------------------------->
        <div class="main-content">
            <div class="text-block">
                <div class="left-content">
                    <p style="font-weight: 600; font-size: larger;">
                        {% for journal in journals %}
                        <a href="{{ url_for('download_journal', journal_id=journal[0]) }}"> Issue {{ journal[1] }}, Volume {{ journal[2] }}. {{ journal[3] }}</a>
                        <br>
                        {% endfor %}
                </p>
                </div>
                <div class="right-content">
                <img src="{{url_for('static', filename='images/journal-image.png')}}" class="content-image" style="max-width: 500px;">
                </div>
            </div>
        </div>
{% endblock %}