{% extends 'base.html' %}

{% block title %} <title>NovaPro</title> {% endblock %}

{% block body %}
<body>
    <div class="main-container">
        <!--------HEADER ----------------------------->
        <div class="header">
            <div class="left-header">
                <div class="nova-pro"><a href="index.html">NovaPro</a></div>
            </div>
            <div class="right-header">
                <button class="about-us"><a href="index.html">About Us</a></button>
                <button class="people-behind"><a href="pplbehind.html">People Behind</a></button>
                <button class="journal"><a href="journal.html">Journal</a></button>
                <button class="contact-us"><a href="contact.html">Contact Us</a></button>
            </div>
        </div>

        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="images/main-image.png" alt="Main Image" class="main-image">
            <div class="title">Journal</div>

        </div>

        <!--------MAIN CONTENT ----------------------------->
        <div class="main-content">
            <div class="text-block">
                <div class="left-content">
                    <h2>What is NovaPro?</h2> 
                    <p style="font-weight: 500;">
                        "Nova Prospectus" is a scientific digital journal created by KIMEP University students, for students, 
                        that showcases cutting-edge research and thought-provoking science articles from the next generation of future scientists and scholars. 
                        The journal's mission is to provide undergraduate and graduate students a platform to disseminate their findings, share insights, and foster 
                        interdisciplinary collaboration. The inaugural edition presents diverse research articles spanning fields such as psychology, sociology, 
                        political science,  environmental science, computer science, and other fields. Our student contributors demonstrate a commitment to 
                        scientific inquiry, critical thinking, and academic excellence.<br> <br>By providing a platform for students to showcase their research, 
                        hone their writing and communication skills, and engage with peers and mentors, "Nova Prospectus" empowers the next generation of 
                        scientists to make meaningful contributions to the advancement of knowledge and society. The journal will be published online on the 
                        KIMEP Research Club’s website at the end of each academic semester at KIMEP University. <br><br> The journal will include a minimum of 2 research 
                        and 20 articles conducted by the members of KRC. It may also feature works by KIMEP University students who are not affiliated with the 
                        organization.     
                </p>
                <div class="read-more">
                    <a href="j-download.html"><button>Download Journal</button></a>
                </div>
                </div>
                <div class="right-content">
                <img src="images/journal-image.png" class="content-image" style="max-width: 500px;">

                </div>
            </div>
        </div>
        <div class="footer">
            <p>@KIMEP Research Club</p>
        </div>
        </div>
</body>
{% endblock %}