<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/slider.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/texts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>People Behind</title>
</head>
<body>
    <div class="main-container">
        <!--------HEADER ----------------------------->
        <div class="header">
            <div class="left-header">
                <div class="nova-pro"><a href="index.html">NovaPro</a></div>
            </div>
            <div class="right-header">
                <button class="about-us"><a href="index.html">About Us</a></button>
                <button class="people-behind"><a href="pplbehind.html">People Behind</a></button>
                <button class="journal"><a href="journal.html">Journal</a></button>
                <button class="contact-us"><a href="contact.html">Contact Us</a></button>
            </div>
        </div>

        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="images/main-image.png" alt="Main Image" class="main-image">
            <div class="title">People Behind</div>

        </div>

        <!--------MAIN CONTENT ----------------------------->
        <div class="main-content">
            <div class="intro">
                <p> At KIMEP Research Club we work as a team to put the best works in NovaPro. Read further to find out more about our departments and head managements
                    at our departments:<br><br> <a href="departments/writers.html">Writing</a>, <a href="departments/editor.html">Editing</a>, <a href="departments/organization.html">Organization</a>,
                    <a href="departments/finance.html">Finance</a>, <a href="departments/smm.html">SMM</a>.
                </p>
            </div>

        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>President</h1>
                <h3>Zhaniya Rakhimova</h3>
                <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
            </div>
        </div>    
        
        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Vice President</h1>
                <h3>Gulnur Adanbekova</h3>
                <p>Vice-President and Co-Founder of KIMEP Research Club. Gulnur is a Junior student at KIMEP University, studying Business and IT.</p>
            </div>
            
        </div>
        
        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Head of Writers</h1>
                <h3>Alan Sailybaev</h3>
                <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
                <div class="read-more">
                    <a href="departments/writers.html"><button>Read more</button></a>
                </div>            
            </div>
        </div> 

        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Head of Editing</h1>
                <h3>Amir Karazhigitov</h3>
                <p>Vice-President and Co-Founder of KIMEP Research Club. Gulnur is a Junior student at KIMEP University, studying Business and IT.</p>
                <div class="read-more">
                    <a href="departments/editor.html"><button>Read more</button></a>
                </div>            
            </div>

        </div>

        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Head of Organization</h1>
                <h3>Daria Ursan</h3>
                <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
                <div class="read-more">
                    <a href="departments/organization.html"><button>Read more</button></a>
                </div>            
            </div>
        </div> 
        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Head of SMM</h1>
                <h3>Arailym Shokenova</h3>
                <p>Vice-President and Co-Founder of KIMEP Research Club. Gulnur is a Junior student at KIMEP University, studying Business and IT.</p>
                <div class="read-more">
                    <a href="departments/smm.html"><button>Read more</button></a>
                </div>            
            </div>

        </div>

        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Head of Finance</h1>
                <h3>Meirlana Bolat</h3>
                <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
                <div class="read-more">
                    <a href="departments/finance.html"><button>Read more</button></a>
                </div>            
            </div>
        </div> 
        </div>


        <div class="footer">
            <p>@KIMEP Research Club</p>
        </div>
    </div>
</body>
</html>