<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/slider.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/texts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>People Behind</title>
</head>
<body>
    <div class="main-container">
        <!--------HEADER ----------------------------->
        <div class="header">
            <div class="left-header">
                <div class="nova-pro"><a href="index.html">NovaPro</a></div>
            </div>
            <div class="right-header">
                <button class="about-us"><a href="index.html">About Us</a></button>
                <button class="people-behind"><a href="pplbehind.html">People Behind</a></button>
                <button class="journal"><a href="journal.html">Journal</a></button>
                <button class="contact-us"><a href="contact.html">Contact Us</a></button>
            </div>
        </div>

        <!--------IMAGE ----------------------------->
        <div class="main-image-container">
            <p class="on-top">KIMEP RESEARCH CLUB</p>
            <img src="images/main-image.png" alt="Main Image" class="main-image">
            <div class="title">People Behind</div>

        </div>

        <!--------MAIN CONTENT ----------------------------->
        <div class="main-content">
            <div class="left-side-block">
                <div class="left-image">
                    <img src="images/people-place-holder.JPG">
                </div>
                <div class="left-text">
                    <h1>Zhaniya Rakhimova</h1>
                    <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
                </div>
            </div>    
        
        <div class="right-side-block">
            <div class="right-text">
                <h1>Gulnur Adanbekova</h1>
                <p>Vice-President and Co-Founder of KIMEP Research Club. Gulnur is a Junior student at KIMEP University, studying Business and IT.</p>
            </div>
            <div class="right-image">
                <img src="images/people-place-holder.JPG">
            </div>
        </div>
        
        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Alan Sailybaev</h1>
                <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
                <div class="read-more">
                    <a href="pplbehind.html"><button>Read more</button></a>
                </div>            </div>
        </div> 

        <div class="right-side-block">
            <div class="right-text">
                <h1>Amir Karazhigitov</h1>
                <p>Vice-President and Co-Founder of KIMEP Research Club. Gulnur is a Junior student at KIMEP University, studying Business and IT.</p>
                <div class="read-more">
                    <a href="pplbehind.html"><button>Read more</button></a>
                </div>            </div>
            <div class="right-image">
                <img src="images/people-place-holder.JPG">
            </div>
        </div>

        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Daria Ursan</h1>
                <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
                <div class="read-more">
                    <a href="pplbehind.html"><button>Read more</button></a>
                </div>            </div>
        </div> 
        <div class="right-side-block">
            <div class="right-text">
                <h1>Arailym Shokenova</h1>
                <p>Vice-President and Co-Founder of KIMEP Research Club. Gulnur is a Junior student at KIMEP University, studying Business and IT.</p>
                <div class="read-more">
                    <a href="pplbehind.html"><button>Read more</button></a>
                </div>            </div>
            <div class="right-image">
                <img src="images/people-place-holder.JPG">
            </div>
        </div>

        <div class="left-side-block">
            <div class="left-image">
                <img src="images/people-place-holder.JPG">
            </div>
            <div class="left-text">
                <h1>Meirlana Bolat</h1>
                <p>President and Co-Founder of KIMEP Research Club. Zhaniya is a Junior student at KIMEP University, studying International Relations and Political Science.</p>
                <div class="read-more">
                    <a href="pplbehind.html"><button>Read more</button></a>
                </div>            </div>
        </div> 
        </div>


        <div class="footer">
            <p>@KIMEP Research Club</p>
        </div>
    </div>
</body>
</html>