{% extends 'base.html' %}

{% block title %} SMM Department {% endblock %}

{% block body %}
            <!--------IMAGE ----------------------------->
            <div class="main-image-container">
                <p class="on-top">KIMEP RESEARCH CLUB</p>
                <img src="{{url_for('static', filename='images/smm-index.jpg')}}" alt="Main Image" class="main-image">
                <div class="title">SMM Department</div>
            </div>

            <!--------MAIN CONTENT ----------------------------->
            <div class="intro" style="margin-bottom: 100px; margin-top: 70px;">
                Our department interacts with the academic community by sharing relevant content, participating in discussions, and highlighting the club's contributions to research and academia.
            </div>

            <div class="left-side-block">
                <div class="left-image">
                    <img src="{{url_for('static', filename='images/smm-head.jpg')}}">
                </div>
                <div class="left-text">
                    <h1>Head of SMM</h1>
                    <h3>Arailym Shokenova</h3>
                    <p>
                        May this new chapter be filled with fruitful collaborations, insightful discoveries, and meaningful promotion to our fields of study🤍
                    </p>
                            
                </div>
            </div> 

            <div class="member-title">Members</div>
            <div class="members">
                <div class="member">
                    <div class="member-pic"> <img src="{{url_for('static', filename='images/smm-member1.jpg')}}"></div>
                    <div class="member-name">Khan Valeriya </div>
                    <div class="member-desc">"Always ask the right questions, your life depends on it."</div>
                </div>
                <div class="member">
                    <div class="member-pic"> <img src="{{url_for('static', filename='images/smm-member2.jpg')}}"></div>
                    <div class="member-name">Anaita Amirbek </div>
                    <div class="member-desc">"Researching on why I am so delulu"</div>
                </div>
            </div>

{% endblock %}