.members {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.member-pic img{
    width: 200px;
    object-fit: cover;
}

.member-desc {
    font-weight: 300;
    font-size: smaller;
}

.member-title {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    margin-top: 70px;
    color: #122363;
}