{% extends 'base.html' %}

{% block body %} 

<br>
<table>
    <th>Member ID</th> 
    <th>Full Name</th>
    <th>Role Name</th>
    <th>Email</th>
    <th>Joined Date</th>
    <th>Photo</th>
    <th>Delete</th>

    {% for m in rows %}
            <tr>
                <td> {{m['id']}} </td>
                <td> {{m['name']}} </td>
                <td> {{m['role']}} </td>
                <td> {{m['email']}} </td>
                <td> {{m['joined_date']}} </td>
                <td> {{m['photo']}} </td>
                <td> <form method="post" action="/members">
                    <input type="hidden" name="member_id" value="{{ m['id'] }}">
                    <button type="submit">Delete</button>
                </form></td>
            </tr>
    {% endfor %}

    
    <form method="post" action="/a-member">
        <button type="submit">Add member</button>
    </form>
</table>


{% endblock %} 
